<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="post">
        <p>
            <label for="comuna">Comuna</label>
            <input type="text" name="comuna">
        </p>
        <p>
            <label for="latitud">Latitud</label>
            <input type="text" name="latitud">
        </p>        
        <p>
            <label for="zonatermica">Zona Termica</label>
            <input type="text" name="zonatermica">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

</body>
</html>
