<!DOCTYPE html>
<html>
<head>
<title>Blackout</title> <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1><center>Recetas Oficiales Blackout</center></h1>
<h3>Hola! Bienvenid@s a las recetas oficiales de BlackOut, la mejor forma de tomar: <br><br>
    Pisco Sour: <br> 
    Cristaleria :Copa champagne <br> 
    Tecnica: Batido <br> 
    Garnish: N/A <br> 
    Ingredientes: <ul> <li> 2 oz pisco </li><li> 3/4 oz jugo limon </li><li> 3/4 oz jarabe simple </li> <li> 2 cucharadas albumina </li></ul> <br> 
    Daiquiri (Ron blanco sour sin albumina): <br> 
    Cristaleria :Copa cocktail <br> 
    Tecnica: Batido <br> 
    Garnish: twist limon <br> 
    Ingredientes: <ul> <li> 1 1/2 oz ron blanco </li><li> 3/4 oz jugo limon </li><li> 3/4 oz jarabe simple </li> </ul> <br> 
    Gin Tonic: <br> 
    Cristaleria :Copa Borgoña <br> 
    Tecnica: Directo <br> 
    Garnish: Depende del botanico, pepino para hendricks, limon para beefeater, etc <br> 
    Ingredientes: <ul> <li> 1 1/2 oz gin </li><li> 6 oz tonica </li></ul> <br> 
    Manhattan: <br> 
    Cristaleria :Copa cocktail <br> 
    Tecnica: Refrescado <br> 
    Garnish: cereza <br> 
    Ingredientes: <ul> <li> 2 oz whiskey </li><li> 1 oz V. Rosso </li><li> 2 dashes angostura </li></ul> <br>
    Dry Martini: <br> 
    Cristaleria :Copa cocktail <br> 
    Tecnica: Refrescado <br> 
    Garnish: 2 o 3 aceitunas <br> 
    Ingredientes: <ul> <li> 1 1/2 oz gin </li><li> 1 1/1 oz V. Dry </li><li> 1 o 2 dashes naranja </li></ul> <br>
    Old Fashion: <br> 
    Cristaleria :vaso of <br> 
    Tecnica: Directo <br> 
    Garnish: twist naranja <br> 
    Ingredientes: <ul> <li> 2 oz whiskey </li><li> 4 dashes angostura </li><li> cucharada de azucar rubia </li><li> cucharada agua </li> </ul> <br>
    Mojito: <br> 
    Cristaleria :Vaso collins <br> 
    Tecnica: Directo <br> 
    Garnish: Menta <br> 
    Ingredientes: <ul> <li> 1 1/2 oz ron </li><li> 3/4 oz jugo limon </li><li> 3/4 oz jarabe simple </li><li> splash soda </li></ul> <br>
    Mint Julep: <br> 
    Cristaleria :Vaso Julep <br> 
    Tecnica: Directo <br> 
    Garnish: Menta <br> 
    Ingredientes: <ul> <li> 2 1/2 oz whiskey </li><li>1 oz jarabe simple</li><li> 4 ramitas de menta </li></ul> <br>
    Cynar Julep: <br> 
    Cristaleria :Vaso Julep <br> 
    Tecnica: Directo <br> 
    Garnish: Pomelo y menta <br> 
    Ingredientes: <ul> <li> 2 oz Cynar </li><li> 1 oz jugo pomelo </li><li> 1/2 oz jugo limon </li> <li> 1/2 oz jugo limon </li></ul> <br>
    Americano: <br> 
    Cristaleria :vaso of <br> 
    Tecnica: Directo <br> 
    Garnish: media luna naranja <br> 
    Ingredientes: <ul> <li> 1 oz campari </li><li> 1 oz V. Rosso </li><li> 1 dash soda </li></ul> <br>
    Negroni: <br> 
    Cristaleria :vaso of <br> 
    Tecnica: Refrescado <br> 
    Garnish: media luna naranja <br> 
    Ingredientes: <ul> <li> 1 oz gin </li><li> 1 oz V. Rosso </li><li> 1 oz Campari </li></ul> <br>
    Spritz: <br> 
    Cristaleria :Copa Borgoña <br> 
    Tecnica: Directo <br> 
    Garnish: Rodela Naranja <br> 
    Ingredientes: <ul> <li> 2 oz apperol </li><li> 2 oz Prosseco </li><li> 1 oz Soda </li></ul> <br>
    Margarita: <br> 
    Cristaleria :Copa cocktail <br> 
    Tecnica: Batido <br> 
    Garnish: crustas sal <br> 
    Ingredientes: <ul> <li> 2 oz tequila silver </li><li> 1 oz triple sec </li><li> 3/4 oz jugo limon </li><li> 1/2 oz jarabe simple </li></ul> <br>
    Caipirinha: <br> 
    Cristaleria :Vaso of <br> 
    Tecnica: Directo <br> 
    Garnish: rodela limon <br> 
    Ingredientes: <ul> <li> 2 oz cachaca </li><li> medio limon cortado en cuartos </li><li> 3/4 jarabe simple </li></ul> <br>
    Bloody Mary: <br> 
    Cristaleria :Vaso collins <br> 
    Tecnica: Directo <br> 
    Garnish: Apio y drop de limon <br> 
    Ingredientes: <ul> <li> 1 1/2 oz vodka </li><li> 4 oz jugo tomate </li><li> Tabasco (4 pizcas), salsa inglesa (2 pizcas), sal (1 
pizca) </li><li> 1/4 oz jugo limon </li></ul> <br>
    Alexander: <br> 
    Cristaleria :Copa cocktail <br> 
    Tecnica: Batido <br> 
    Garnish: nuez moscada o canela en polvo <br> 
    Ingredientes: <ul> <li> 1 oz coñac </li><li> 1 oz licor de cafe </li><li> 1 oz crema de leche </li></ul> <br>
    Ruso Blanco: <br> 
    Cristaleria :Vaso Of <br> 
    Tecnica: Batido <br> 
    Garnish: 3 granos de cafe <br> 
    Ingredientes: <ul> <li> 2 oz vodka </li><li> 1 oz licor de cafe </li><li> 1 oz crema de leche </li></ul> <br>
    Rusty Nail: <br> 
    Cristaleria :Vaso Of <br> 
    Tecnica: Refrescado <br> 
    Garnish: twist limon <br> 
    Ingredientes: <ul> <li> 1 1/2 oz blended scotch </li><li> 1 oz Drambuie </li></ul> <br>
    
</h3>
</body>
</html>
