<!DOCTYPE html>
<html>
<head>
<title>Blackout</title>
</head>
<body style = "background-color:black;">
    <h1 style = "color:white;"><center>Recetas Oficiales Blackout</center></h1>
<h3 style = "color:white;">Hola! Bienvenid@s a las recetas oficiales de BlackOut, la mejor forma de tomar: <br><br><br>
Gimlet: Todos los jugadores deben levantar ambas manos lo mas rapido posible. El ultimo toma.<br><br>
Suicidio Colectivo:  Todos los jugadores deben poner su frente sobre la mesa lo mas rapido posible. El ultimo toma.<br><br>
Todo lo demas se puede decir despues que alguien caiga en la casilla (Las reglas van en el mismo orden que las casillas):<br><br>
- Blackout: Toma un shot/tapita.<br><br>
- OutBlack(Blackout al revés, los fucsia.): Regala un shot/tapita.<br><br>
- Start Over: Retrocede y Blackout.<br><br>
</h3>
</body>
</html>
