<!DOCTYPE html>
<html>
<head>
<title>Blackout</title>
</head>
<body style = "background-color:black;">
    <h1 style = "color:white;"><center>Recetas Oficiales Blackout</center></h1>
<h3 style = "color:white;">Hola! Bienvenid@s a las recetas oficiales de BlackOut, la mejor forma de tomar: <br><br><br>
    Pisco Sour: <br> 
    Cristaleria :Copa champagne <br> 
    Tecnica: Batido <br> 
    Garnish: N/A <br> 
    Ingredientes: <ul> <li> 2 oz pisco </li><li> 3/4 oz jugo limon </li><li> 3/4 oz jarabe simple </li> <li> 2 cucharadas albumina </li></ul> <br><br> 
    Daiquiri (Ron blanco sour sin albumina): <br> 
    Cristaleria :Copa cocktail <br> 
    Tecnica: Batido <br> 
    Garnish: twist limon <br> 
    Ingredientes: <ul> <li> 1 1/2 oz ron blanco </li><li> 3/4 oz jugo limon </li><li> 3/4 oz jarabe simple </li> </ul> <br><br> 
    Gin Tonic: <br> 
    Cristaleria :Copa Borgoña <br> 
    Tecnica: Directo <br> 
    Garnish: Depende del botanico, pepino para hendricks, limon para beefeater, etc <br> 
    Ingredientes: <ul> <li> 1 1/2 oz gin </li><li> 6 oz tonica </li></ul> <br><br> 
    Manhattan: <br> 
    Cristaleria :Copa cocktail <br> 
    Tecnica: Refrescado <br> 
    Garnish: cereza <br> 
    Ingredientes: <ul> <li> 2 oz whiskey </li><li> 1 oz V. Rosso </li><li> 2 dashes angostura </li></ul> <br><br> 
</h3>
</body>
</html>
